{% extends 'gestion/base.html' %}
{% block title %}Eliminar cliente - Alke Wallet{% endblock %}
{% block content %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-8">
            <h1>Elimnar cliente</h1>
            <div class="card aw-card p-4 text-center">
                <i class="bi bi-exclamation-triangle-fill text-warning fs-1 mb-3"></i>
                <h2>¿Elimnar a {{cliente.nombre}}?</h2>
                <p class="small">Esta accion no se puede deshacer</p>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'cliente_list'%}" class="btn aw-btn-outline">Cancelar</a>
                <button type='submit' class="btn btn-danger"><i class="bi bi-trash"></i> Confirmar</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}